{% extends 'basic.html' %}

{% block content %}


    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">

                <form class="card card-body mt-5" action= "{%url 'create_customer' %}" method="post">

                    <h1 class="text-center ">Nuevo cliente</h1>

                    <p> {{error}} </p>


                    {% csrf_token %}


        
                    {{form.as_p}}




                    

                    <button class="btn btn-dark">
                        Crear
                    </button>

                </form>


            </div>
        </div>


{% endblock %}
    




